:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  --fondo: #17171c; /*#F1F2F3*/

  --fondo-calculadora: #f1f2f3; /*#17171C*/
  --texto: #000000; /*#FFFFFF*/
  --primario: #4b5efc; /*#4B5EFC*/
  --secundario: #c8c9cf; /*#4E505F*/
  --terciario: #ffffff; /*#2E2F38*/

  --box-shadow: 0 0 50px rgba(0, 0, 0, 0.2);

  background-color: var(--fondo);
  color: var(--texto);
}

* {
  margin: 0;
  padding: 0;
}

#root {
  height: 100vh;
  display: grid;
  place-items: center;
}